<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Receipts</title>
</head>

<body>
  <main>
    <div>
        <li>
          <a href="{% url 'create_account' %}">Create an Account </a>
        </li>
    </div>
    <h1>Accounts</h1>
    <div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number</th>
          <th>Number of receipts</th>
        </tr>
      </thead>
      <tbody>
        {% for account in receipt_list %}
        <tr>
        <td>{{account.account}}</td>
        <td>{{account.account.number}}</td>
        <td>{{account.receipt.all|length}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  </main>


</body>

</html>
