<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create Account</title>
</head>

<body>
    <main>
        <div>
            <h1>Create Account</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="control">
                    <button class="button">Create</button>
                </div>
            </form>
        </div>
    </main>

</body>

</html>
