<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Receipts</title>
</head>

<body>
  <main>
    <div>
    <nav>
      <ul>
        <li>
          <a href="{% url 'create_category' %}">Create Category</a>
        </li>
    <h1>Expense by Category</h1>
    <table>
      <thead>
        <tr>
          <th>Expense Category</th>
          <th>Number of Receipts</th>
        </tr>
      </thead>
      <tbody>
        {% for category in expensecategory_list %}
        <tr>
        <td>{{category.name}}</td>
        <td>{{category.receipts.all|length}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </main>


</body>

</html>
