<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Receipts</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="{% url 'logout' %}">Logout</a>
      </li>
      <li>
        <a href="{% url 'signup' %}">sign up</a>
      </li>
      <li>
        <a href="{% url 'login' %}">Login</a>
      </li>
      <li>
        <a href="{% url 'create_receipt' %}">Create a Receipt</a>
      </li>
      <li>
        <a href="{% url 'create_category' %}">Create Category</a>
      </li>
      <li>
        <a href="{% url 'create_account' %}">Create Account</a>
      </li>
      <li>
        <a href="{% url 'account_list' %}">Account List</a>
      </li>
      <li>
        <a href="{% url 'list_categories' %}">Category List</a>
      </li>
  <main>
    <div>
      <h1>My Receipts</h1>
        <table>
          <thead>
            <tr>
              <th>Vendor</th>
              <th>Total</th>
              <th>Tax</th>
              <th>Date</th>
              <th>Category</th>
              <th>Account</th>
            </tr>
          </thead>
      <tbody>
        {% for item in receipt_list %}
        <tr>
          <td>{{item.vendor}}</td>
          <td>{{item.total}}</td>
          <td>{{item.tax}}</td>
          <td>{{item.date|date:"m-d-Y" }}</td>
          <td>{{item.category}}</td>
          <td>{{item.account}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  </main>


</body>

</html>
